* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap");
/* @import url("hero.css"); */
:root {
  --mainfont: "Outfit", sans-serif;
  --secondfont: "Space Grotesk", sans-serif;
  --monospace: "IBM Plex Mono", monospace;
  --maincolor: #000000;
  --yellow: #ffbf00;
}

.card {
  width: 300px;
  min-width: 300px;
  height: auto;
  background: #1e2235;
  border-radius: 0px;
  position: relative;
  z-index: 10;
  margin: 25px;
  min-height: 356px;
  cursor: pointer;
  transition: all 0.25s ease;
  /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08); */
  overflow: auto;
  /* border: 2px dashed #ffbf00; */
  box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.168);

  /* padding: 0.5rem; */
}

.card:hover {
  /* transform: translate(0, -10px); */
  box-shadow: none;
}

.card h4 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  font-family: var(--secondfont);
  color: #ffbf00;
}

.card i {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  font-size: 1.4rem;
  line-height: 3.2rem;
}

.card .card-text {
  padding: 20px;
  color: #fff;
}
.card h2 {
  font-family: var(--mainfont);
  font-size: 1.7rem;
  color: #ffbf00;
}

p {
  font-size: 1rem;

  /* opacity: 0.6; */
  margin-top: 10px;
  font-family: var(--secondfont);
}

.card .card-img {
  /* transform: translate(90px, -10px); */
  /* margin: 0 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-out;
  overflow: hidden;
  border-radius: 0px;
}

.card img {
  height: 180px;
  min-width: 100%;
}

.card img.blur {
  position: absulute;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.4;
  transform: translate(-160px, 30px);
  transition: all 0.35s ease-out;
}

.card:hover .card-img img.blur {
  transform: translate(-100px, 35px) scale(0.85);
  opacity: 0.25;
  filter: blur(20px);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  /* padding-top: 100px; */
  padding: 1rem 50px 1rem 60px;
  scroll-behavior: smooth;
  position: relative;
}

.card-content::-webkit-scrollbar {
  height: 0px;
}

.card-content:after {
  content: "";
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}

.btn {
  /* pointer-events: none; */
  width: fit-content;
  min-width: 60px;
  margin: auto 30px;
  height: 60px;
  border-radius: 20px;
  border: #1e2235 1px solid;
  border: 0px;
  outline: none;
  cursor: pointer;
  color: #e9ebef;
  z-index: 50;
  /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08); */
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btd-scroll-down {
  display: none;
}

.btn i {
  font-size: 1.2rem;
  color: #1e2235;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ebef;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.slider_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ebef;
  /* flex-direction: column; */
  width: 100%;
  overflow: auto;

  height: 27rem;
  overflow: hidden;
  position: relative;
}

.slider:after {
  content: "";
  top: 7rem;
  left: 98px;
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 80;
  background: linear-gradient(
    90deg,
    rgba(233, 235, 239, 1) 0%,
    rgba(242, 243, 248, 0) 100%
  );
  /* pointer-event: none; */
}

.slider:before {
  top: 7rem;
  content: "";
  right: 98px;
  height: 100%;
  position: absolute;
  width: 150px;

  z-index: 80;
  background: linear-gradient(
    90deg,
    rgba(242, 243, 248, 0) 0%,
    rgba(233, 235, 239, 1) 100%
  );
  /* pointer-event: none; */
}

@media screen and (max-width: 600px) {
  .card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    overflow: auto;
    /* padding-top: 100px; */
    padding: 1rem 50px 1rem 60px;
    scroll-behavior: smooth;
    position: relative;
  }
  .slider_inner {
    display: block;
    background: #e9ebef;
    width: 100%;
    overflow: auto;
    height: 27rem;
    /* overflow: hidden; */
    position: relative;
    scroll-behavior: smooth;
    height: 50rem;
  }
  .btd-scroll-down {
    position: absolute;
    z-index: 50;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 10px;
    display: flex;
    background-color: #e9ebef;
  }
  .btd-scroll-down i {
    color: #ffbf00;
  }
  .slider:after {
    display: none;
  }

  .slider:before {
    display: none;
  }
  .btn-scroll {
    display: none;
  }
}
