* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainfont: "Outfit", sans-serif;
  --secondfont: "Space Grotesk", sans-serif;
  --monospace: "IBM Plex Mono", monospace;
  --maincolor: #000000;
  --yellow: #ffbf00;
}

.glower {
  width: fit-content;
  height: fit-content;
  /* padding: 0.3rem; */
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glower a {
  color: #000000;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 0.3rem;
}

.glower:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glower:active {
  color: var(--yellow);
}

.glower:active:after {
  background: transparent;
}

.glower:hover:before {
  opacity: 1;
}

.glower:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
