* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-margin {
  margin: 0;
  padding: 0;
}
.no-padding {
  padding-top: 0%;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap");
/* @import url("hero.css"); */
:root {
  --mainfont: "Outfit", sans-serif;
  --secondfont: "Space Grotesk", sans-serif;
  --monospace: "IBM Plex Mono", monospace;
  --maincolor: #000000;
  --yellow: #ffbf00;
  --navy: #1e2235;
}
.popup {
  width: 90%;
  background-color: var(--navy);
  padding: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 500px #dddddd7d;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  z-index: 999999;
  color: #ffffff;
}

.popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  color: var(--navy);
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.5s;
}

.popup .close:hover {
  background-color: #fff;
}

.popup h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.glower_secondary {
  margin: 0 auto;
}
.glower_secondary a {
  text-decoration: none;
}
