* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-margin {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap");
/* @import url("hero.css"); */
:root {
  --mainfont: "Outfit", sans-serif;
  --secondfont: "Space Grotesk", sans-serif;
  --monospace: "IBM Plex Mono", monospace;
  --maincolor: #000000;
  --yellow: #ffbf00;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 1rem;
  border-bottom: 1px rgb(194, 194, 194) solid;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}
.logo {
  font-family: var(--mainfont);
  display: flex;
  gap: 1rem;
}
.logo_img {
  display: flex;
  max-width: 60px;
}
.logo h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  min-width: 40%;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1.5rem;
  text-decoration: none;
}
.links a {
  text-decoration: none;
  color: var(--maincolor);
  font-family: var(--mainfont);
  font-size: 1.1rem;
}
.links a:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #ffbf00;
  transition: 400ms;
}

.links a:hover:after {
  width: 100%;
}
.burger-menu {
  display: none;
  float: right;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  color: rgb(0, 0, 0);
}
.btn-group {
  display: none;
}
.dropdown-menu li {
  padding: 0.5rem 0;
}
.dropdown-item {
  font-size: 1.2rem;
  font-family: var(--mainfont);
}
.fullscreen-dropdown .dropdown-menu {
  position: absolute;
  top: 62px;
  left: -15px;
  width: 40vw;
  min-width: 15rem;
  height: 50vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 0%;
  /* box-shadow: 0px 0px 20px 0px rgb(167, 167, 167); */
}

.hero {
  background: #e9ebef;

  width: 100%;
  display: flex;
  /* position: fixed; */
  justify-content: center;
  /* z-index: 99; */
  align-items: center;
  /* margin-top: 5rem;  */
}

/* about  */
.about {
  border-top: dashed 2px black;
  border-bottom: dashed 2px black;
  padding: 3rem 0rem;
  /* margin-top: 50rem; */
  width: fit-content;
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  background-color: #ffbf00;
}
.text_box {
  color: #000000;
  width: 30%;
  font-family: var(--secondfont);
  /* font-style: italic; */
  z-index: 10;
}
.info {
  color: var(--maincolor);
  font-size: 1.7rem;
}
.text_box span {
  font-family: var(--mainfont);
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}

.more {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  border: none;
  border-bottom: dashed 2px black;
  outline: none;
  background-color: transparent;
  text-transform: capitalize;
  font-family: var(--mainfont);
  align-items: center;
  gap: 0.7rem;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
  margin: 1rem 0;
}
.more a {
  text-decoration: none;
  color: #000000;
}
.more i.fa-arrow-right {
  transition: transform 0.3s ease;
}

.more:hover i.fa-arrow-right {
  transform: translateX(5px);
}

.img_box {
  display: flex;
  align-content: center;
  width: 40%;
  height: 100%;
}
.img_box img {
  min-width: 300px;
  max-width: 100%;
  /* border-radius: 1rem; */
  transition: all ease 0.4s;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px #00000080;
}
.img_box img:hover {
  min-width: 300px;
  max-width: 100%;
  /* border-radius: 1rem; */
  scale: 1.005;
}
.title {
  min-width: 20%;
  padding: 3rem 0 0 0;
  background: #e9ebef;

  text-align: center;
}

.cources {
  background: #e9ebef;
}

.section_info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section_info h1 {
  font-family: var(--mainfont);
  font-weight: 500;
  color: #000000;
}
.section_info p {
  width: 60%;
  margin: 0 auto;
  font-family: var(--secondfont);
  color: #000000;
  font-size: 1.7rem;
  padding: 1rem 0;
}
/* teachers */
.teachers {
  background: #ffbf00;
}
.teachers .section_info,
.teachers > .slider,
.teachers > .slider > .slider_inner {
  background-color: #ffbf00;
}

.teachers > .slider:after {
  content: "";
  top: 7rem;
  left: 98px;
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 80;
  background: linear-gradient(
    90deg,
    rgba(255, 191, 0, 1) 0%,
    rgba(255, 191, 0, 0) 100%
  );

  /* pointer-event: none; */
}

.teachers > .slider:before {
  top: 7rem;
  content: "";
  right: 98px;
  height: 100%;
  position: absolute;
  width: 150px;

  z-index: 80;
  background: linear-gradient(
    90deg,
    rgba(255, 191, 0, 0) 0%,
    rgba(255, 191, 0, 1) 100%
  );
  /* pointer-event: none; */
}

@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .btn {
    font-size: 1rem;

    font-family: var(--mainfont);
  }
  .btn-group {
    display: inline;
    font-size: 0.5rem;
  }
  .logo {
    width: 50%;
  }
  .logo h1 {
    font-size: 1rem;
  }
  .links {
    display: none;
    width: fit-content;
    border: black solid 2px;
    gap: 2rem;
  }
  .more {
    font-size: 1rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1100px) {
  .about {
    border-top: dashed 2px black;
    border-bottom: dashed 2px black;
    padding: 3rem 0rem;
    /* margin-top: 50rem; */
    width: fit-content;
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
  .text_box {
    color: #000000;
    width: 90%;
    font-family: var(--secondfont);
    /* font-style: italic; */
    z-index: 10;
    text-align: center;
  }
  .text_box p {
    font-size: 1.3rem;
  }
  .info > span {
    font-size: 1.8rem;
  }
  .img_box {
    display: flex;
    align-content: center;
    width: 90%;
    height: 100%;
  }
  .more {
    font-size: 1.2rem;
    margin: 0 auto;
  }
}
